h1, h2 {
	a { color: $black; }
	&:before {
		content: '> ';
		position: absolute;
		left: 23%;
	}
}

h2 {  }

ul {
	list-style: none;

	li {
		&:before {
			font-family: $header-font-family;
			content: '>';
			padding-right: .5rem;
		}
	}
}
